/*
Alexander Herrera
Project 4
*/
div {
	background-color: #59B9D2;
}
#about1 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#about2 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#about3 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#college1 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#college2 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#work1 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#work2 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#work3 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#work4 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#family1 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#family2 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#family3 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#family4 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#family5 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#memo1 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#memo2 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#course1 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#course2 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#course3 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#course4 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#course5 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#course6 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#courseAssign1 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#courseAssign2 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#courseAssign3 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#collegeEvents1 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#collegeEvents2 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
#collegeEvents3 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";	
}
#collegeReminders1 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";	
}
#collegeReminders2 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";	
}
#collegeTodoList1 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";	
}
#collegeTodoList2 {
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";	
}
#errorMessages {
	color: red;
	font-weight: bold;
}
#cstext {
	margin: 1px;
	font-size: 12px;
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";	
}
#tastext {
	margin: 1px;
	font-size: 12px;
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";	
}
p {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left:20px;
	padding: 4px;
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
}
form fieldset #errorMessages {
	color: red;
	font-weight: bold;
}
